.Login{}
.loginwap{
  width:100%;
  height: 753px;
  // margin-top: 80px;
  // background:red;
  color:#303133;
  background: #555;
}
.loginimg{
  width:94.7%;
  // margin-top:80px;
  height: 500px;
  // z-index: 999;
  position: relative;
  left: 0px;
  // top:100px;
  // background-color: yellow;
  background-image: url('login.jpg');
  background-repeat: no-repeat;
  background-size: 70% 100%;
}
.logindiv{
  width: 80%;
  height:400px;
  padding: 10px 0;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
  left: 12%;
  top:8%;
}
.logintitle{
  padding: 20px 0px 0px 0px;
  margin: auto;
  width: 300px;
  font-size: 26px;
}
.logininput{
  width: 80%;
  height:300px;
  // border: 2px solid #aaa;
  position: relative;
  left: 10%;
  top:5%;
}
.user{
  width: 90%;
  height:50px;
  line-height: 50px;
  // background: white;
  // margin:auto;
  position: relative;
  // left: 10%;
  top:10%;
  font-size: 18px;
  padding: 0px 5%;
}
.pass{
  width: 90%;
  height:50px;
  line-height: 50px;
  // background: white;
  position: relative;
  // left: 10%;
  top:20%;
  font-size: 18px;
  padding: 0px 5%;
}
#username{
  margin-left: 20px;
  height: 24px;
  width:210px ;
}
#password{
  margin-left: 20px;
  height: 24px;
  width:210px ;
}
#stuId{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#stuName{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#RegisterUsername{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#RegisterPassword{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#RegisterstuId{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#RegisterstuName{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
#RegisterTel{
  margin-left: 20px;
  height: 24px;
  width:180px ;
}
.check{
  position: relative;
  top:30%;
  left:5%;
}
.login{
  position: relative;
  left:5%;
  width: 78%;
  top:40%;
  background: #4876FF;
  padding:10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  color: #eee;
}
input{
  border-radius: 5px;
}
.right{
  width: 35.6%;
  height: 500px;
  background-image: url('inputbackground.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 70%;
}
.register{
  width: 80%;
  margin: 0 auto;
  height:100%;
}
