
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
    height: 550px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 30px;
    height: 490px;
  }

  body > .el-container {
    // margin-bottom: 40px;
    height: 550px;

  }

  .m-t-20 {
    margin-top: 20px;
  }
  .m-t-10 {
    margin-top: 10px;
  }
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }
  .el-table__header-wrapper{
    // height: 60px!important;
    line-height: 60px!important;
  }
