.FooterTop{
  height: 10px;
  // text-align: center;
  margin-top: 10px;
  // background:#ccc;
  .left{
    widows: 30%;
    height: 100px;
    margin-left: 200px;

  }
  .right{
    width: 20%;
    height: 100px;
    margin-left: 600px;
  }
}
.FooterTop div{
  float:left;
}
.FooterBottom{
  height: 20px;
  // background: #aaa;
  margin-top: 90px;
  text-align: center;
}
ul>li{
 line-height: 20px;
}
